@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+AC00-D7A3,U+0020-002F,U+003A-0040,U+005B-0060,U+007B-007E
}

@import url('//fastly.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');

body {
  font-family: "GowunDodum-Regular", "Iropke Batang", "Times New Roman", Times, serif;
  font-size: 1.1em;
  line-height: 1.8; 
}

h1 {
  font-size: 1.2em;
  /* text-decoration-line: underline; */
  /* text-decoration-style: double; */
}

h2 {
  font-size: 1.1em;
  margin-top: 3em;
  /* text-decoration-line: underline; */
}


a:visited {
  text-decoration: none;
}

a:-webkit-any-link {
  text-decoration: none;
}

ul {
  padding-left: 19px;
}

article {
  max-width: 90ch;
  margin: 0 auto;
  padding: 20px
}

article h2 {
  margin-top: 6em;
  font-size: 1.3em;
  text-align: center;
}


.center_h2 {
  text-align: center;
}

.comments {
  max-width: 95ch;
  margin: 0 auto;
}

code {
  color: red;
}

footer {
  margin-top: 100px;
  border-top: 1px solid #ccc; // gray border
}


table {
  margin: 0 auto;
  border-collapse: collapse;
  border-color: #cccccc;

  td {
    padding: 3px 20px;
    border: 1px solid #ccc;
  }

  thead {
    th {
      padding: 6px 13px;
      font-weight: bold;
      border: 1px solid #ccc;
    }
  }
}

blockquote {
  /* font-style: italic; */
  /* margin: 10px 0; */
  /* border-left: 1px solid black; */
  /* background-color: #f9f9f9; */
  margin: 15px;
  color: #555;
  font-size: 0.95em;
  p {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

/* Tufte-inspired blockquote */
.tufte-blockquote {
  width: 85%;
  // margin: 2.5em 0 2.5em auto;
  margin: 2.5em auto;
  padding: 0;
  font-size: 0.95em;
  font-style: normal;
  line-height: 1.7;

  p {
    margin: 0;
  }

  footer {
    margin-top: 0.8em;
    font-size: 0.9em;
    font-style: normal;
    text-align: right;
  }

  cite {
    font-style: italic;
  }
}

@media (max-width: 780px) {
  .tufte-blockquote {
    width: 100%;
  }
}


.page-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    border-bottom: 1px solid #ccc; // gray border
}

.page-header .title {
    margin-top: 0.5em;
    font-size: 2em;
}

.page-header .date {
    margin-top: -0.5em;
    font-size: 1em;
    color: #666;
}


.date {
  font-size: 0.7em;
  color: gray;
  margin-left: 5px;
}

.book-info {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    font-size: 0.8em;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc; // gray border
    margin-bottom: 30px;
}

.book-item img {
    max-width: 100px; /* Adjust as needed */
    display: block;
}

.article-image {
  display: flex;
  justify-content: center; // 수평 중앙 정렬
}

.article-image-desc {
  display: flex;
  justify-content: center;
  color: #555;
  font-size: 0.95em;
}

.book-details {
    margin-left: 10px;
    flex-grow: 1;
    padding-top: 0px;
}

.book-details ul {
    margin: 0; /* Remove default margin */
    padding: 0; /* Optional: Remove padding if needed */
}

.book-details li {
    margin-bottom: 5px; /* Space between list items */
}

/* Inline notes (always toggle, no side gutter) */
article { counter-reset: note-counter; }

input.margin-toggle { display: none; }

label.note-number {
  counter-increment: note-counter;
  font-size: 0.82em;
  vertical-align: super;
  line-height: 1;
  cursor: pointer;
  color: #a00;
  position: relative;
  display: inline-block;
  padding: 0 0.01em 0 0;
  margin-right: -0.5em; /* pull next character closer */
  top: -0.22em;
  left: -0.18em;
}

label.note-number::after {
  content: counter(note-counter);
  font-size: 0.72em;
  position: relative;
  top: -0.15em;
}

.note {
  display: none;
  padding: 0.9em 1.1em;
  margin: 1em auto;
  font-size: 0.95em;
  line-height: 1.7;

  p {
    margin: 0;
  }
}

.margin-toggle:checked + .note {
  display: block;
}
